# Java / Maven
*.class
*.jar
*.war
*.ear
*.log
target/
.mvn/wrapper/maven-wrapper.jar

# Quarkus
.quarkus/

# Node / Frontend
node_modules/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.iml
*.swp
.DS_Store

# H2 database files
data/

# Env
.env
.env.*
!.env.example
deploy.sh

# JWT private key — nunca commitar
privateKey.pem
