QUARKUS_HTTP_PORT=8080
QUARKUS_HTTP_CORS=true
QUARKUS_HTTP_CORS_ORIGINS=http://localhost:5173
QUARKUS_HTTP_CORS_METHODS=GET,PUT,POST,OPTIONS
QUARKUS_HTTP_CORS_HEADERS=Content-Type
QUARKUS_DATASOURCE_DB_KIND=h2
QUARKUS_DATASOURCE_JDBC_URL=jdbc:h2:file:./data/capypad;AUTO_SERVER=TRUE
QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION=update
CAPYPAD_CLEANUP_MAX_AGE_DAYS=30
CAPYPAD_CLEANUP_INTERVAL=24h
BLOCK_IMAGE=false
MAINTENANCE_MODE=false
