QUARKUS_HTTP_PORT=8080
QUARKUS_HTTP_CORS=true
QUARKUS_HTTP_CORS_ORIGINS=http://localhost:5173
QUARKUS_HTTP_CORS_METHODS=GET,PUT,POST,OPTIONS
QUARKUS_HTTP_CORS_HEADERS=Content-Type
QUARKUS_DATASOURCE_DB_KIND=postgresql
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/capypad
QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION=update

# Database Defaults
POSTGRES_USER=capypad
POSTGRES_PASSWORD=capypad123
POSTGRES_DB=capypad

# Keycloak Defaults
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://localhost:8180
CAPYPAD_CLEANUP_MAX_AGE_DAYS=30
CAPYPAD_CLEANUP_INTERVAL=24h
BLOCK_IMAGE=false
MAINTENANCE_MODE=false
